* {
  --border: 0px; /* just for coding purposes */

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.navbar {
  height: var(--navbar-height);
  flex-shrink: 0; 
  width: 100%;
  overflow: hidden;
  border: var(--border) solid black;

  display: flex;
  align-items: center;
 /* border-bottom: 1px solid rgb(225, 181, 255); */
  background-color: rgb(253, 253, 253);
}

.title {
  margin-right: 20%;
  padding: 20px;
}

.title span {
  font-size: 120%;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: inherit;
}

.links {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.selected-link {
  color: var(--color-blue);
}

.link:hover {
  cursor: pointer;
}

@media (max-width: 380px) {
  .title {
    margin-right: 10%;
  }
}

@media (max-width: 300px) {
  .title {
    margin-right: 0%;
  }
}



