.App {
  --blog-height: 200px;
  --blog-width: 60vw;
  --min-width: 400px;
  --max-width: 800px;
  --border-radius: 20px;

  --color-blue: rgb(1, 206, 252); 
  --navbar-height: 100px;

  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.content {
  flex: 1; /* space except navbar */
  overflow: auto;
  background-color: rgb(247, 237, 251);
}